@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media only screen and (max-width: 720px) {
  #logo-text {
      display: none;
  }
}

body, html {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

.hero-div { 
    background-repeat: no-repeat; 
    background-position: center center;
   
  }

  .dash-header-div { 
    background-repeat: no-repeat; 
    background-position: center center;
    /* background-attachment: fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .footer-div { 
    background-repeat: no-repeat; 
    background-position: top center;
    /* background-attachment: fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }