@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media only screen and (max-width: 720px) {
  #logo-text {
      display: none;
  }
}

body, html {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

.hero-div { 
    background-repeat: no-repeat; 
    background-position: center center;
   
  }

  .dash-header-div { 
    width: '100%';
    background-repeat: no-repeat; 
    background-position: center center;
    /* background-attachment: fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .footer-div { 
    
    background-repeat: no-repeat; 
    background-position: top center;
    /* background-attachment: fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .slick-slide {
    padding: 1rem 0.4rem;
    width: 16.5rem;
    height: 100%;
  }
  
  .slick-list {
    margin: 0 1rem;
  }
  .slick-dots{
    position: absolute;
    bottom: -8px;
    display: block;
    width: 100%;
    padding: 10;
    margin: 0;
    list-style: none;
    text-align: center;
    }
    .slick-prev {
      left: -18px;
    }
    .slick-next {
      right: -18px;
    }
    .slick-prev:before {
      content: '<';
      margin-top: 1rem;
      font-size: 25px;
      font-weight: 700;
      color: #061F71;
  }

  .slick-next::before {
    content: '>';
    margin-top: 1rem;
    font-size: 25px;
    font-weight: 700;
    color: #061F71;
}

